@import url(http://fonts.googleapis.com/css?family=Lato:100,300);
body,p,h1,h2,h3,h4,h5,h6,img{
  padding:0;
  margin:0;
  font-family: 'Lato', sans-serif;
  font-weight:300;
}
body{
  margin:50px;
}
.layout-page{
  max-width:1020px;
  margin:0 auto;
  position:relative;
}
.page-title{
  font-size:54px;
  margin-bottom: 20px;
  margin-left: -4px;
}
.page-link{
  display:block;
  text-decoration:none;
  transition:all 0.2s;
  margin-bottom: 30px;
  position:relative;
  width: 300px;
  color:#000;
  font-size:25px;
}
.page-link:visited{
  color:#609;
}
.page-link:before{
  content:'';
  display:block;
  position:absolute;
  top: -4px;
  left:-30px;
  height:40px;
  width:2px;
  opacity:0;
  background:#6D00FF;
  transition:all 0.2s linear;
}
.page-link:hover, .page-link:focus{
  padding-left:20px;
  color: #6D00FF;
  position:relative;
  outline:none;
}
.page-link:hover:before, .page-link:focus:before{
  opacity:1;
  left:2px;
}
.prewie{
  width: 450px;
  height: 500px;
  position: absolute;
  top: 90px;
  left: 300px;
  transform-origin:100%;
  transform: perspective( 1000px ) rotateY( -60deg );
  opacity:0;
  transition:all 0.6s;
  background-repeat:no-repeat;
  background-size:contain;
}
.prewie.billing{
  background-image:url("images/screen/billing.jpg");
}
.prewie.mte-group{
  background-image:url("images/screen/mte-group.jpg");
}
.prewie.mte-sto{
  background-image:url("images/screen/mte-sto.jpg");
}
.prewie.mte-finance{
  background-image:url("images/screen/mte-finance.jpg");
}
.prewie.mtek{
  background-image:url("images/screen/mtek.jpg");
}
.prewie.dvk{
  background-image:url("images/screen/dvk.jpg");
}
.prewie.dpm{
  background-image:url("images/screen/dpm.jpg");
}
.prewie.elgrafa{
  background-image:url("images/screen/elgrafa.jpg");
}
.prewie.sea4u{
  background-image:url("images/screen/sea4u.jpg");
}
.prewie.delivery{
  background-image:url("images/screen/delivery.jpg");
}
.prewie.minerals{
  background-image:url("images/screen/minerals.jpg");
}
.prewie.amocrm{
  background-image:url("images/screen/amocrm.jpg");
}
.prewie.cleanwhite{
  background-image:url("images/screen/cleanwhite.jpg");
}
.prewie.dashborad{
  background-image:url("images/screen/dashboard.jpg");
}
.prewie.portfolio{
  background-image:url("images/screen/portfolio.jpg");
}
/*
.page-link:hover + .prewie,.page-link:focus + .prewie{
  transform: rotateY( 0deg );
  opacity:1;
}
*/
