@import url(http://fonts.googleapis.com/css?family=Lato:100,300);
body,p,h1,h2,h3,h4,h5,h6,img{
  padding:0;
  margin:0;
  font-family: 'Lato', sans-serif;
  font-weight:300;
}
body{
  margin:50px;
}
h2{
  font-size:54px;
  margin-bottom: 20px;
  margin-left: -4px;
}
a{
  display:block;
  text-decoration:none;
  transition:all 0.2s;
  margin-bottom: 20px;
  position:relative;
  width: 300px;
}
a:before{
  content:'';
  display:block;
  position:absolute;
  top: -4px;
  left:-30px;
  height:30px;
  width:2px;
  opacity:0;
  background:#6D00FF;
  transition:all 0.2s linear;
}
a:hover, a:focus{
  padding-left:20px;
  color: #6D00FF;
  position:relative;
}
a:hover:before, a:focus:before{
  opacity:1;
  left:2px;
  outline:none;
}
