@import url(http://fonts.googleapis.com/css?family=Lato:100,300);
body,p,h1,h2,h3,h4,h5,h6,img{
  padding:0;
  margin:0;
  font-family: 'Lato', sans-serif;
  font-weight:300;
}
body{
  margin:50px;
}
.layout-page{
  max-width:1020px;
  margin:0 auto;
}
.page-title{
  font-size:54px;
  margin-bottom: 20px;
  margin-left: -4px;
}
.page-link{
  display:block;
  text-decoration:none;
  transition:all 0.2s;
  margin-bottom: 20px;
  position:relative;
  width: 300px;
  color:#000;
}
.page-link:visited{
  color:#609;
}
.page-link:before{
  content:'';
  display:block;
  position:absolute;
  top: -4px;
  left:-30px;
  height:30px;
  width:2px;
  opacity:0;
  background:#6D00FF;
  transition:all 0.2s linear;
}
.page-link:hover, .page-link:focus{
  padding-left:20px;
  color: #6D00FF;
  position:relative;
  outline:none;
}
.page-link:hover:before, .page-link:focus:before{
  opacity:1;
  left:2px;
}
.prewie{
  width: 450px;
  height: 500px;
  background: #eee;
  position: absolute;
  top: 90px;
  left: 300px;
}
}
