@import url(http://fonts.googleapis.com/css?family=Lato:100,300);
body,p,h1,h2,h3,h4,h5,h6,img{
  padding:0;
  margin:0;
  font-weight:300;
}
h2{
  font-size:30px;
}
h3{
  font-size:18px;
  margin-bottom:20px;
}
body{
  font-family: 'Lato', sans-serif;
  margin-bottom:20px;
}
.layout-page{
  width:1020px;
  margin:0 auto;
}
.header{
  position:relative;
  margin-bottom:25px;
}
.header:before{
  content:'';
  display:block;
  position:absolute;
  bottom:-12px;
  left:30px;
  width:410px;
  height:1px;
  background:#e4e9eb;
}
.header:after{
  content:'';
  display:block;
  position:absolute;
  bottom:-12px;
  right:30px;
  width:410px;
  height:1px;
  background:#e4e9eb;
}
.navigation{
  height:60px;
  background:#323232;
  position:relative;
  padding-top:20px;
  box-sizing:border-box;
}
.navigation__left{
  position:absolute;
  right:580px;
}
.navigation__right{
  position:absolute;
  left:580px;
}
.navigation__left .navigation__item:not(:last-child):after{
  content:'';
  display:block;
  position:absolute;
  right:-11px;
  top:50%;
  width:2px;
  height:2px;
  background:#474c5f;
}
.navigation__right .navigation__item:not(:first-child):after{
  content:'';
  display:block;
  position:absolute;
  left:-11px;
  top:50%;
  width:2px;
  height:2px;
  background:#474c5f;
}
.navigation__item{
  text-decoration:none;
  text-transform:uppercase;
  font-size:10px;
  position:relative;
  color:#fff;
}
.navigation__item:not(:last-child){
  margin-right:20px;
}
.navigation__item:hover{
  color:#2eb398;
}
.navigation__item.active{
  color:#2eb398;
}
.logo{
  width:90px;
  position:absolute;
  top:0;
  left:50%;
  margin-left:-45px;
  height:100%;
  background:#323232;
}
.logo:after{
  content:'';
  display:block;
  position:absolute;
  top:100%;
  border-left:45px solid transparent;
  border-right:45px solid transparent;
  border-top:25px solid #323232;
}
.logo__figure{
  position:relative;
}
.logo__image{
  position:absolute;
  left:50%;
  top:10px;
  margin-left:-32px;
  z-index:10;
}
.gallery{
  height:682px;
  padding-bottom:10px;
  position:relative;
}
.gallery:after{
  content:'';
  height:1px;
  width:960px;
  background:#e4e9eb;
  position:absolute;
  bottom:10px;
  left:30px;
}
.about{
	padding:12px 0;
  background:#2eb398;
}
.about__inner-block{
  width:820px;
  margin:0 auto;
  padding:50px 18px;
  border-left:1px solid #219d84;
  border-right:1px solid #219d84;
  box-sizing: border-box;
}
.person{
  position:relative;
  padding-bottom:50px;
}
.person__photo{
  float:left;
}
.person__description{
  margin-left:220px;
}
.person__title{
  font-size:30px;
  color:#d7fcf5;
}
.person__subtitle{
  margin-bottom:15px;
  font-size:18px;
  color:#20816d;
}
.person__content{
  text-align:justify;
  line-height:20px;
  font-size:12px;
  color:#d7fcf5;
}
.social{
  position:absolute;
  bottom:0;
  right:0;
  width:150px;
  height:22px;
  background:#fff;
}
.get-in-touch{
  background:#323232;
  padding:13px 30px;
  color:#e0e0e0;
}
.get-in-touch__inner{
  padding:50px 90px;
  border-top:1px solid #2b2b2b;
  border-bottom:1px solid #2b2b2b;
}
.get-in-touch__subtitle{
  font-weight:100;
  color:#bebebe;
}
.feedback{
  float:left;
}
.feedback__form{
  width:580px;
}
.feedback__input, .feedback__textarea{
  display:block;
  border:none;
  padding:13px;
  margin-bottom:15px;
  outline:0;
  background:#454545;
  resize: none;
  width:100%;
  color:#fff;
  font-size:12px;
  box-sizing:border-box;
}
.feedback__textarea{
  min-height:150px;
}
.feedback__submit{
  padding:0 30px;
  line-height:36px;
  vertical-align:middle;
  text-transform:uppercase;
  background:#2eb398;
  font-size:12px;
  border:none;
  float:right;
  color:#d7fcf5;
}
.feedback__submit:focus{
  border:none;
  outline:none;
}
.contacts{
  float:right;
  width:180px;
}
.contacts__details{
  font-size:12px;
  text-align:justify;
  color:#bebebe;
  line-height:22px;
  margin-top:-5px;
  margin-bottom:65px;
}
.contacts__details .title{
  color:#e0e0e0;
}
.contact__item{
  display:block;
  font-size:12px;
  padding-left:10px;
  margin-bottom:6px;
  color:#bebebe;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
.footer{
  background:#222222;
  padding:15px 38px;
  color:#454545;
  font-size:12px;
}